@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #DEB887;
}

.header {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Courgette", cursive;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-note-sticky {
  font-size: 40px;
  padding-right: 20px;
  color: #C2FF3D;
}

.logo {
  color: white;
  font-size: 40px;
}

.add_stick {
  font-size: 20px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.add_stick:hover {
  background-color: gainsboro;
}

.container {
  font-family: "Courgette", cursive;
  width: 1200px;
  height: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.textarea {
  height: 300px;
  width: 400px;
  resize: none;
  position: absolute;
  font-size: 25px;
}

.fa-circle-xmark {
  position: absolute;
  margin-left: 365px;
  margin-top: 10px;
  font-size: 25px;
}

.fa-circle-xmark:hover {
  color: red;
  cursor: pointer;
}

.item {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  background-color: red;
  height: 250px;
  width: 250px;
  margin-top: 25px;
}